{% extends "content.html" %}

{% block content %}
    <h1 class="title">{{ article.title }}</h1>
    {% if article.img %}
        <img src="/images/portfolio/{{ article.img }}" />
    {% endif %}
    {% if article.category == "til" %}
        <time datetime="{{ article.date.date().isoformat() }}">
            {{ article.date.strftime('%B %d, %Y') }}
        </time>
    {% endif %}
    <div class="content">
        <!-- Content -->
        {{ article.content  }}
        <!-- Links -->
        {% if article.links %}
        {% include "partials/portfolio_item_badges.html" %}
        {% endif %}
    </div>
{% endblock %}
