{% extends "base.html" %}

{% set page_title = article.title %}

{% block page %}
<div class="container article-container">
    {% include "partials/navbar.html" %}
    <article data-pagefind-body>
        <h1 class="title">{{ article.title }}</h1>
        {% include "partials/article_meta.html" %}
        <div class="content">
            {% if article.img %}
                <p><img src="/images/portfolio/{{ article.img }}" /></p>
            {% endif %}
            {{ article.content  }}
        </div>
        {% if article.links %}
        {% include "partials/portfolio_item_badges.html" %}
        {% endif %}
    </article>
    {% include "partials/giscus.html" %}
</div>
{% include "partials/footer.html" %}
{% endblock %}
