{% extends "base.html" %}

{% block page %}
<div id="about">
    <div class="wrapper text-center">
        <img class="u-photo avatar" src="/images/me.avif" alt="Tom's profile picture">
        <h1 class="p-name title">{{ ABOUT_TITLE }}</h1>
        <p class="p-note content">{{ DESCRIPTION }}</p>

        <div>
        {% with skip_home=True %}
            {% include "partials/navbar.html" %}
        {% endwith %}
        </div>

        <div>
            {% for name, link, text in SOCIAL %}
            {% if name == 'fa fa-envelope' %}
            <a class="icon" href="{{ link }}">
            {% else %}
            <a class="icon" href="{{ link }}" rel="me" target="_blank">
            {% endif %}
                <i class="{{ name }}"></i>&nbsp;{{ text }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
