{% extends "base.html" %}

{% block page %}
<div id="about">
    <div class="wrapper text-center">
        <img class="u-photo avatar" src="/images/me.avif" alt="Tom's profile picture">
        <h1 class="p-name title">{{ ABOUT_TITLE }}</h1>
        <p class="p-note content">{{ DESCRIPTION }}</p>

        <div>
        {% with skip_home=True %}
            {% include "partials/navbar.html" %}
        {% endwith %}
        </div>

        <div>
            {% include "partials/links.html" %}
        </div>
    </div>
</div>
{% endblock %}
