<footer>
    <div class="container article-container">
        <div class="row">
            <div class="col-md-7">
                <h4>Stay Updated</h4>
                <p>Follow my blog via
                    <a href="/blog/atom.xml">
                        <i class="fas fa-rss"></i> RSS Feed
                    </a>
                </p>
                <p>Or get new posts directly to your inbox.</p>
                {% include "partials/newsletter_form.html" %}
            </div>
            <div class="col-md-1" style="min-height: 1em;"></div>
            <div class="col-md-4">
                <h4>Find me on the web</h4>
                <div class="links">
                    {% include "partials/links.html" %}
                </div>
            </div>
        </div>
    </div>
</footer>
