<div class="container article-container">
  {% include "partials/navbar.html" %}

  <div class="category">
    <div class="header">
      <h2 class="text-center">{{ category.name }}</h2>
    </div>
    <hr />
    {% for article in articles_page.object_list %}
    <div class="item">
      <h1 class="title"><a href="{{ article.url }}">{{ article.title }}</a></h1>
      {% with date=article.date %}
        {% include "partials/date.html" %}
      {% endwith %}
      <div class="content">{{ article.summary }}</div>
      <a class="btn btn-secondary" href="{{ article.url }}">Read more</a>
    </div>
    {% endfor %} {% include "partials/pagination.html" %}
  </div>
</div>
