<nav>
  {% if not skip_home %}
  <a class="btn" href="/" aria-label="Home">
    <span class="fas fa-home"></span>
  </a>
  {% endif %}
  <ul {% if not skip_home %}class="float"{% endif %}>
    <li>
      <a class="btn {% if page_name == '/blog' %}selected{% endif %}" href="/blog/">
        Blog
      </a>
    </li>
    <li>
      <a class="btn {% if page_name == '/projects' %}selected{% endif %}" href="/projects/">
        Projects
      </a>
    </li>
    <li>
      <a class="btn {% if page_name == '/hobbies' %}selected{% endif %}" href="/hobbies/">
        Hobbies
      </a>
    </li>
  </ul>
</nav>
