<form action="https://app.audienceful.com/api/subscribe/5Upvrxge29AWPEBCqQ6Pj8/" method="post">
    <div class="form-group">
        <div class="input-group">
            <input name="email" type="email" class="form-control" id="emailField" required
                   placeholder="name@example.com" />
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </div>
        </div>
    </div>
    <!-- Anti spam protection -->
    <div style="position: absolute; left: -5000px" aria-hidden="true">
        <input type="text" name="b28-ft" tabindex="-1" value="" />
    </div>
</form>
