@font-face {
    font-family: "Montserrat";
    src: url("/theme/fonts/Montserrat-Thin.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    src: url("/theme/fonts/Montserrat-Thin.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Lora";
    src: url("/theme/fonts/Lora-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Lora";
    src: url("/theme/fonts/Lora-Regular.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Lora";
    src: url("/theme/fonts/Lora-Italic.woff2") format("woff2");
    font-style: italic;
}

body {
    font-size: 22px;
    line-height: 1.5;
    color: #515151;
    font-family: "Montserrat",sans-serif;
}

hr {
    max-width: 50px;
    border-color: #d73e00;
    border-width: 3px;
}

a {
    color: #d73e00;
}

a:hover,
a:focus {
    color: #ad3100;
}

a.icon {
    text-decoration: none;
    margin: 0.5em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.btn {
    border: 0;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2px;
}

.btn-primary {
    background-color: #d73e00;
    color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #ee4b28;
}

.btn-secondary {
    background-color: #515151;
    color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #3a3a3a;
    color: #fff;
}

img {
    width: 100%;
}

section {
    padding: 2em 0;
}

.content {
    margin: 1em 0;
    font-family: "Lora",serif;
    line-height: 1.6em;
}

.content img {
    margin: 0.5em 0;
}

.content a {
    text-decoration: underline;
}

.content a:visited {
    color: #ad3100;
}

.title {
    margin: 0.5em 0;
    font-weight: bold;
}

table {
    width: 100%;
    margin: 1.5em 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* NAVBAR */
nav {
    margin: 0.5em 0;
}

nav .btn {
    border: 6px solid;
}

@media screen and (max-width: 600px) {
    nav .btn {
        font-size: 0.5em;
    }
}

nav .btn.selected {
    border-color: black;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul.float {
    float: right
}

nav li {
    display: inline;
}

/* ABOUT */
#about {
    color: white;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    background-color: #d73e00;
    min-height: 100vh;
}

#about .wrapper {
    max-width: 600px;
    margin: 2em auto;
}

#about a {
    color: white;
    white-space: nowrap;
}

#about a:hover,
#about a:focus {
    color: black;
}

#about .avatar {
    border-radius: 50%;
    width: 280px;
}

#about .content {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* PORTFOLIO */
#portfolio {
    padding-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    background: rgba(160, 43, 17, 0.9);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    top: 50%;
    width: 100%;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-title,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-summary {
    padding: 0 15px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-title {
    text-transform: uppercase;
    font-weight: bold;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption {
        opacity: 0;
        height: 100%;
        text-align: center;
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
        transition: all .35s;
    }

    .portfolio-box:hover .portfolio-box-caption {
        opacity: 1;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
        position: absolute;
        transform: translateY(-50%);
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-summary > p {
        font-size: 15px;
    }
}

@media(max-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-title {
        margin-top: 5px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-summary > p {
        font-size: 13px;
        margin: 0px;
        margin-bottom: 5px;
    }
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.portfolio-item-badges {
    margin-bottom: 1em;
}

/* ARTICLE */
.article-container {
    max-width: 800px;
}

.meta {
    margin-bottom: 1.5rem;
    color: #5d5d5d;
    font-size: 0.8em;
}

.meta-separator {
    margin: 0 0.2em;
}

.meta-separator::after {
    content: "·";
}

/* CATEGORY */

.category .header {
    position: relative
}

.category .header .subscribe {
    position: absolute;
    right: 0;
    bottom: 0;
}

.category .item {
    margin: 1em 0 3em;
}

/* PAGINATION */

.load-more {
    width: 100%;
    margin-bottom: 2em;
}

/* SUBSCRIBE */

dialog {
    padding: 0;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* FOOTER */

footer {
    background-color: #515151;
    color: #fff;
    padding: 3em 0;
}

footer h4 {
    margin-bottom: 1em;
    font-weight: bold;
}

footer p {
    font-size: 0.9em;
    margin-bottom: 1em;
}

footer a:hover {
    text-decoration: none;
}

footer .links a {
    display: block;
    margin: 0;
}
